.link-button {
    text-decoration: none;
    display: block;
    width: 120px;
    height: 40px;
    background-color: #000;
    color: #fff;
    line-height: 40px;
    border-radius: 5px;
}

.detail-button:hover {
    background-color: #7F8487;
    color: #fff;
}

/* 스크롤 버튼 위치 */
.scroll-down {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-decoration: none;
    z-index: 10;
}

/* 내부 점 애니메이션 */
.scroll-down span {
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
    margin-top: 8px;
    animation: scrollMove 1.5s infinite;
}

/* 애니메이션 */
@keyframes scrollMove {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateY(12px);
        opacity: 0.5;
    }
    100% {
        transform: translateY(20px);
        opacity: 0;
    }
}





/* 상세페이지 링크 버튼 간격 */
.link-group {
    display: flex;
    gap: 50px; /* 버튼 사이 간격 */
    justify-content: center; /* 가운데 정렬 (선택) */
    margin-top: 50px;
}
/* 메인 영상 관련 코딩 */
.video-header {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.bg-video {
  width: 100%;
  height: 100%;
  object-fit: cover;

  /* 👇 여기만 조정 */
  object-position: center 30%;
}
.bg-video.hide {
  opacity: 0;
}







/* .back {
    background: url(../img/portfolio/어두운_배경과_느낌을_202604011611.png);
    background-size: cover; /* 이미지 크기 조절 */
    /* background-position: center; /* 중앙 정렬 */ 
    /* background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    margin-top: -150px;
} */

/* 포폴 섹션 배경 색상 */
body {
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #212529;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* 포폴섹션 글씨 색상 */
.text-secondary {
  color: #fff;
}
.popol-color h2{
    color: #000;
}

.page-section-heading text-center text-uppercase text-secondary mb-0 {
    margin-bottom: 100px;
}

/* 상단 바 색상 */
.bg-secondary {
  background-color: #000 !important;
}

/* 라운드 */
.sec-img {
    border-radius: 0px;
    margin-bottom: 0px;
}

/* 포폴 호버시 색상 */
.portfolio .portfolio-item .portfolio-item-caption {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  background-color: rgba(68, 68, 78, 0.8);
}


/* contact 섹션 */
/* 전체 영역 */
.contact-custom {
    background: #fff;
    color: #000;
    padding: 150px 0 50px;
    position: relative;
}

/* 레이아웃 */
.contact-wrap {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

/* 좌측 */
.contact-label {
    color: #000;
    font-size: 14px;
    letter-spacing: 3px;
    display: inline-block;
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
    margin-bottom: 40px;
}

.contact-title {
    font-size: 42px;
    font-weight: 400;
    line-height: 1.4;
}

/* 우측 */
.contact-right {
    text-align: left;
    line-height: normal;
    align-items: center;
}

.contact-info {
    margin-bottom: 40px;
}

.info-title {
    color: #aaa;
    margin-bottom: 8px;
}

.info-value {
    font-size: 20px;
    font-weight: 500;
}

/* 하단 */
.contact-bottom {
    margin-top: 120px;
}

.contact-line {
    width: 100%;
    height: 1px;
    background: #666;
    margin-bottom: 20px;
}

.contact-thanks {
    color: #000;
    font-size: 14px;
}

/* 탑 버튼 */
.contact-top-btn {
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 60px;
    height: 60px;
    background: #000;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

.contact-top-btn:hover {
    transform: translateY(-5px);
    
}

/* 반응형 */
@media (max-width: 768px) {
    .contact-wrap {
        flex-direction: column;
        gap: 60px;
    }

    .contact-title {
        font-size: 28px;
    }
}


/* 메뉴바 기본 글시  */
#mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #fff;
    /* background: #1abc9c; */
  }
#mainNav .navbar-nav > li.nav-item > a.nav-link {
    color: #7F8487;
    /* background: #1abc9c; */
  }
/* 호버시? */
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #fff;
    /* background: #1abc9c; */
  }

/* 호버시 글시 색상 */
#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #fff;
}


/* design 글시 색상 */
  .text-heading {
  color: #fff !important;
}

/* 카피라이트 글씨 배치 좌/ 우 / 중앙 */
.text-copy {
  text-align:start !important;
}

/* about 섹션 */
.about-section {
    padding: 100px 0;
    background: #212529; /* 기존 톤 유지 */
    text-align: center;
}

.about-img-wrap {
    max-width: 1000px; /* 이미지 최대 크기 */
    margin: 0 auto;
}

.about-img-wrap img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    display: block;
}