@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, ol ,li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    font-family: 'Pretendard';
    font-weight: 600;
}
button {
    all: unset;
    cursor: pointer;
}
img {
    vertical-align: top;
    max-width: 100%;
}
header {
    width: 100%;
    height: 80px;
    background-color: #E30520;
    position: absolute;
    color: white;
}
header .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 80px;
    font-size: 24px;
}
header .header-top h1 {
    position: absolute;
    top: 18px;
    margin-left: 187px;
}
header .header-top .top-left {
    margin-left: 400px;
    font-size: 20px;
}
header .header-top .top-left a::before {
    content: '';
    display: block;
    width: 1px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 30px;
    left: 384px;
}
header .header-top .top-right {
    margin-right: 187px;
    display: flex;
}
header .header-top .top-left ul,
header .header-top .top-right ul {
    display: flex;
    gap: 100px;
}

/* 공통 */
.container {
    width: 1558px;
    margin: 0 auto;
}
.container2 {
    width: 1294px;
    margin: 0 auto;
}

.viewport-img {
    
    width: 924px;
    height: 675px;
    margin-top: 179px;
    position: relative;
}
.indicator {
    position: absolute;
    bottom: 36px;
    left: 50%;
  
    transform: translateX(-50%);
    display: flex;
    gap: 23px;
}
.dot {
  width: 15px;
  height: 15px;
  background: #989898;
  border-radius: 50%;
  
}
.dot.active {
  background: #ffffff;
}
main ul li {
    width: 502px;
    height: 215px;
    background-color: grey;
    border-radius: 10px;
    padding-top: 40px;
    padding-left: 37px;
}
main .visual {
    display: flex;
    justify-content: space-between;
}
.sec-deliver .deliver .text-area a:hover {
    background-color: black;
    color: white;
}
/* 메인 카드 섹션*/
.tabBtn {
    flex: 0.8;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 179px;
    align-items: center;
}
.btn {
    position: relative;
    padding: 37px;
    border-radius: 10px;
    text-decoration: none;
    display: block;
    
}
.btn.light {
    background-color: #F0F2F3;
}
.btn.gray {
    background-color: #9D9D9D;
    color: white;
}
.btn.dark {
    background-color: #252B37;
    color: white;
}
.btn h6 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 100px;
}
.btn p {
    font-size: 18px;
}
.btn span {
    font-size: 21px;
}
.main-arrow {
    position: absolute;
    right: 28px;
    bottom: 28px;
    font-size: 20px;
}

.sec-deliver {
    margin-top: 166px;
    background-color: #E30520;
    height: 546px;
    padding: 98px 0 98px;
    
}
.sec-deliver .deliver {
    display: flex;
    justify-content: space-between;
}
.sec-deliver .deliver .text-area h3 {
    font-size: 50px;
    line-height: 51px;
    color: white;
}
.sec-deliver .deliver .text-area p {
    font-size: 26px;
    line-height: 41px;
    margin-top: 33px;
    margin-bottom: 82px;
    color: white;
}
.sec-deliver .deliver .text-area a {
    display: block;
    font-size: 21px;
    background-color: white;
    width: 236px;
    height: 52px;
    border-radius: 56px;
    text-align: center;
    line-height: 52px;
}
.text-area span {
    margin-left: 52px;
}


/* 뉴스 섹션 */
.news-section {
  max-width: 1294px;
  margin: 155px auto;
  text-align: center;
}

.news-section h2 {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 96px;
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 65px 85px;
}

.card {
  background: #f3f3f3;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s;
  
  width: 373px;
}

.card:hover {
  transform: translateY(-8px);
  
}

.card img {
  width: 373px;
  height: 313px;
  object-fit: cover;
  background: #fff;
}

.card-body {
  padding: 32px 40px;
  text-align: left;
  background: #f3f3f3;
  width: 373px;
  height: 130px;
  font-size: 20px;
  font-weight: normal;
}

.card-body .title {
  font-size: 20px;
  font-weight:400;
  margin-bottom: 8px;
  line-height: 1.4;
}

.card-body span {
  font-size: 20px;
  color: #999;
}

/* 버튼 */
.more-btn {
  margin-top: 60px;
  padding: 14px 42px;
  border-radius: 999px;
  background: #111;
  color: white;
  border: none;
  font-size: 25px;
  font-weight: 600;
  
  transition: 0.1s;
  font-family: 'Pretendard';
  font-weight: 500;
}

.more-btn:hover {
  background: #e60012;
}

/* 반응형 */
@media (max-width: 1024px) {
  .news-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .news-grid {
    grid-template-columns: 1fr;
  }
}

/* 채용 섹션 */
.carrer-section h4 {
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 90px;
}
.carrer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px 148px; 
}
.carrer-card {
    position: relative;
    width: 421px;
    height: 188px;
    background-color: #9D9D9D;
    border-radius: 10px;
    text-align: left;
    
    padding: 39px;
}
.carrer-card p {
    display: block;
    font-size: 30px;
    margin-bottom: 5px;
}
.carrer-card span {
    font-size: 25px;
    font-weight: 500;
}
.carrer-card:nth-child(odd) {
    color: white;
}
.carrer-card:nth-child(even) {
    background-color: #F0F2F3;
}
.arrow {
    position: absolute;
    right: 32px;
    bottom: 18px;
    font-size: 30px;
    font-weight: 300;
    font-family: 'Pretendard';
}

/* 푸터 영역 */
.foot {
    margin-top: 200px;
    width: 100%;
    height: 400px;
    background-color: #434256;
}
.foot-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    color: white;
    
}
.foot2 {
    margin-left: 277px;
    margin-right: 276px;
}
.foot3 {
    margin-right: 277px;
}
.foot-menu ul {
    opacity: 60%;
}
.foot-menu li {
    margin-bottom: 11px;
    
    font-size: 17px;
    font-weight: 400;
}
h5 {
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Pretendard';
    font-weight: 400;
    
}
.footer-divider {
    height: 1px;
    width: 100%;
    background-color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 63px;
}
.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
    color: #d6d6dc;
    margin-bottom: 67px;
}
.footer-links a{
    margin-left: 50px;
}







